<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Contacts App</title>
  </head>
  <body>
    <p>Hi {{fullname}},</p>
    <p>
      We received a request to reset your password. Click the link below to set
      a new password:
    </p>
    <p>
      <a href="{{reset_url}}">Reset Password</a>
    </p>
    <p>
      This link will expire in {{ttl_minutes}} minutes. If you didn’t request a
      password reset, you can safely ignore this email.
    </p>
    <p>Thanks,</p>
    <p>Contacts App Team</p>
  </body>
</html>
